PORT=3000
TOKEN=your_access_token
LOGGING_API=http://20.244.56.144/evaluation-service/logs
DEPOTS_API=http://20.244.56.144/evaluation-service/depots
VEHICLES_API=http://20.244.56.144/evaluation-service/vehicles
NOTIFICATIONS_API=http://20.244.56.144/evaluation-service/notifications
